/*
 * @Author: wei
 * @description: 修改element主题和变量
 * @LastEditTime: 2023-10-16 15:00:46
 */
// https://github.dev/element-plus/unplugin-element-plus

// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': #018E9A,
//     )
//   )
// );
@import 'element-plus/theme-chalk/dark/css-vars.css';
html:root{
    --el-color-primary: var(--yh-brand-color) ;
    --el-color-primary-light-3: var(--yh-brand-color-7) 
    --el-color-primary-light-5:var(--yh-brand-color-5) ;
    --el-color-primary-light-7: var(--yh-brand-color-3) 
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    
    // --el-color-primary: #409eff;
    // --el-color-primary-light-3: #79bbff;
    // --el-color-primary-light-5: #a0cfff;
    // --el-color-primary-light-7: #c6e2ff;
    // --el-color-primary-light-8: #d9ecff;
    // --el-color-primary-light-9: #ecf5ff;
    --el-color-primary-dark-2:  var(--yh-brand-color-9) ;
}



// .el-message.message_top {
//     z-index: 10000 !important;
// }

html .el-message {
    background-color: var(--yh-bg-color-container);
    color: var(--yh-text-color-primary);
    box-shadow: var(--yh-shadow-3);
    border-color: var(--yh-component-border);
  
    .el-message__icon {
      font-size: 20px;
    }
  
    &.el-message--info .el-message__icon {
      color: var(--yh-brand-color);
    }
  
    &.el-message--success .el-message__icon {
      color: var(--yh-success-color);
    }
  
    &.el-message--warning .el-message__icon {
      color: var(--yh-warning-color);
    }
  
    &.el-message--error .el-message__icon {
      color: var(--yh-error-color);
    }
  
    .el-message__content {
      color: var(--yh-text-color-primary);
    }
  }