.yh-anchor{
    position: relative;
    background: var(--yh-bg-color-container);
    width: 200px;
    color: var(--yh-text-color-primary);
    font-size: 14px;
}
.yh-anchor__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--yh-component-stroke);
    cursor: pointer;
}
.yh-anchor__line-cursor-wrapper {
    position: absolute;
    display: block;
    height: 0;
    opacity: 0;
    transition: all .2s cubic-bezier(.24,.41,.51,.9);
}
.yh-anchor__line-cursor{
    width: 1px;
    height: 100%;
    background-color: var(--yh-brand-color); 
}