

/***************************************************  button end************************************************************************************/
.yh-zoom-in-top-enter-active,
.yh-zoom-in-top-leave-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);
  transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
  -webkit-transform-origin: center top;
  transform-origin: center top
}

.yh-zoom-in-top-enter,
.yh-zoom-in-top-leave-active {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0)
}

.yh-box-shadow {
  box-shadow: 1px 2px 1px rgb(0 0 0 / 15%);
}

.viewer-fade-enter-active {
  -webkit-animation: viewer-fade-in .3s;
  animation: viewer-fade-in .3s
}

.viewer-fade-leave-active {
  -webkit-animation: viewer-fade-out .3s;
  animation: viewer-fade-out .3s
}
/* 
.el-input__inner {
  background: var(--yh-bg-color-container);
  border-color: var(--yh-component-border);
  color: var(--yh-text-color-secondary);
}

.el-input__inner::-webkit-input-placeholder {
  color: var(--yh-text-color-placeholder);
} */