.md-editor,
.md-editor.md-editor-dark {
  .md-editor-preview {
    --md-theme-color: var(--yh-text-color-secondary);
    --md-theme-border-color: var(--yh-border-level-1-color);
  }
}
#yh-md {
  table {
    width: 100%;
    font-size: 14px;
    display: table;
    thead,tbody{
      display: table-header-group;
    }
    thead{
      tr{
        background-color:var(--github-theme-table-stripe-color);
      }
    }
    th,
    td {
      padding: 12px 12px;
    }
  }
  pre {
    border: 1px solid var(--yh-component-stroke);
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    .copy-button{
      color: var(--yh-text-color-secondary);
      &:hover{
        color: var(--yh-text-color-link);

      }
    }
  }

}
